/*
text & borders: purple #8C51BC
primary background: baby blue #B7E0F2
buttons etc: lighter purple #F0E1FF
*/
html {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    background-color: #B7E0F2;
}

body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; 
    overflow-x: hidden;
}


html::-webkit-scrollbar, body::-webkit-scrollbar, main::-webkit-scrollbar {
    display: none;          
}

header {
    font-family:'Courier New', Courier, monospace;
    background-color: #B7E0F2;
    color: #8C51BC;
    overflow: hidden;
    padding-top: 5px;
}

main {
    background-color: #B7E0F2;
    color: #8C51BC;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; 
    overflow-x: hidden;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 2px;
}

form {
    gap: 1%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figcaption {
    padding-top: 10%;
    font-weight: bold;
    font-size: large;
}

footer {
    background-color: #B7E0F2;
    color: #8C51BC;
    bottom: 0;
    text-align: center;
    padding-top: 1%;
    border-top: 2px solid #8C51BC;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    overflow: hidden;
}

.container-fluid {
    height: 100%;
}

.row {
    height: fit-content;
    border-top: 2px solid #8C51BC;
}

.col-4 {
    padding-top: 1.5%;
}

.vertical {
    color: #8C51BC;
    border-left: 2px solid #8C51BC;
    height: 100vh;
    height: 70%;
    position: absolute;
    left: 40%;
    left: 33.2%;
    top: 33%;
    pointer-events: none;
}

.col-6 {
    min-height: fit-content;
    padding-top: 1.5%;
    margin-left: 8%;
}

.centred-header {
    text-align: center;
}

.dropdown-area {
    height: 20%;
    justify-self: center;
    padding-top: 2%;
}

.dropdown-input {
  background-color: #F0E1FF;
  color: #8C51BC;
  flex: 1;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.2em;;
}

.dropdown-btn {
  border: 2px solid #8C51BC !important;
  padding: 10px 15px;
  background-color: #F0E1FF;
  color: #8C51BC;
  border-color:#F0E1FF;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  
}

.list-items {
    font-size: 1.5em;
    margin-top: 3%;
}

.spaced-list {
    padding-top: 5%;
    display: block; 
    margin-left: 27.5%;
    
}

.flex {
    display: flex;
    width: 100%;
    height: 65%;
    justify-content: flex-start;
    margin: 5% 0 5% 0;
}

.movie-pic-box {
    border: 2px solid #8C51BC;
    box-shadow: 0 8px 16px #8C51BC;
    width: 30%;
    height: 100%;
    aspect-ratio: 2/3;
    margin-right: 5%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-desc-box {
    border: 2px solid #8C51BC;
    box-shadow: 0 8px 16px #8C51BC;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 0 0 10px;
    width: 60%;
    height: 65%;
    margin-top: 6%;
    display: -webkit-box;
    line-clamp: 8;
    -webkit-line-clamp: 8; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6em;
}

.reroll-btn {
    border: 2px solid #8C51BC !important;
    text-align: center;
    margin-left: 50%;
    font-size: 1.7em;
    padding: 3px 15px;
    background-color: #F0E1FF;
    color: #8C51BC;
    border-color:#F0E1FF;
    border-radius: 10px;
    cursor: pointer;
}

.reroll-btn:active, .dropdown-btn:active {
    background-color: #F0E1FF;
    transform: translate(3px, 3px);
}
